<!-- adminindex.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myShop - Admin</title>
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .product-image {
      max-width: 50px; /* Adjust the size of the image as needed */
      height: auto;
    }
    .align-middle {
      vertical-align: middle !important;
    }
  </style>
</head>
<!-- Admin header -->
<%- include('../layouts/_adminHeader') %>
<!-- /Admin header -->

<!-- Products section -->
<div class="container">
    <h2>Products</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach((product, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><img src="<%= product.image %>" alt="Product Image" class="product-image"></td>
                    <td><%= product.description %></td>
                    <td class="align-middle"><a href="/admin/edit/<%= product._id %>" class="btn btn-primary btn-sm">Edit</a></td>
                    <td class="align-middle"><a href="/admin/delete/<%= product._id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you want to delete <%= product.name %>')">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <!-- Button for adding a new product -->
    <div class="text-center mt-3">
        <a href="/admin/additem" class="btn btn-success rounded-pill px-4 py-2">Add New Product</a>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>



